# Internal tools
pbr
nose
six
hypothesis
gitpython

# Image processing
vtk
simpleitk>=2.2,<3.0
pydicom
scikit-image
pyvista

# Numerics
numpy
scipy>=1.7,<1.13
matplotlib

# Data
pandas
openpyxl
pyyaml
tqdm

# Writing video
ffmpeg
