# Internal tools
pbr
nose
six
hypothesis
gitpython

# Image processing
vtk
simpleitk==2.2
pydicom
scikit-image
pyvista

# Numerics
numpy
scipy==1.11.1
matplotlib

# Data
pandas
openpyxl
pyyaml
tqdm

# Writing video
ffmpeg
